{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
   
        {{ form_label(form.stock) }}
        {{ form_widget(form.stock) }}
        {{ form_rest(form) }}
        <button type="submit">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}